.footerContainer{
    background-color: var(--Blue);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socialNetwork{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.socialNetwork img{
    width: 10vw;
    max-width: 3rem;
}


.footerCopyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: var(--Black);
    background-color: var(--White);
    width: 100vw;
    height: 2rem;
    font-size: var(--FontSize);
    font-weight: bold;
}