*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  --Black-Background: #1C1C1C;
  --White: #F8F9FA;
  --Blue:  #007BFF;
}

body{
  background-color: var(--Black-Background);
}
