*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

  --Black: #1C1C1C;
  --White: #F8F9FA;
  --Blue:  #007BFF;
  --FontSize: 3.5vmin;
}

body{
  background-color: var(--Black);
}
